html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter", Sans-Serif;
}

.overflow {
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url('gambar/bg.jpeg');
  background-size: cover;
  background-position: center;
  transition: 2s ease-in-out;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 450px;
  height: 500px;
  margin-top: 200px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #eaeaea;
  margin-bottom: 16px;
}

.text {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.text > .p {
  font-size: 22px;
  font-weight: bold;
}

.text-end {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.text-end > .p-end {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  white-space: pre-line;
}

.text-end > .card-p {
  padding: 10px;
  background-color: #fff;
  color: red;
  font-size: 20px;
  font-weight: 500;
  border-radius: 50px;
}

.btn {
  width: 100%;
  height: 100px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: #fff;
}